/* Code by me */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #464545cc;
}

/* Home page header Code by me */

.header-container {
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
}

h1 {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 30px;
   color: #464545cc;
}

.book-button {
    height: 40px;
    width: 140px;
    background-color: #82c70ce5;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #464545cc;
    border-radius: 5px;

}

.book-button:hover {
    background-color: #464545cc;
    color: #82c70ce5;
}

/* Used some of the nav code from Traversymedia tutorial coupled code by myself to suit my need for the website -https://www.youtube.com/watch?v=3YW65K6LcIA */

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
    height: 35px;
    width: 100%;
    padding: 0 20px;
}

.navbar a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: #464545cc;
    text-decoration: none;
}

.navbar a:hover {
    background: #82c70ce5;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    margin-left: 10px;
    padding: 0px 10px;
}

/* Developer.Mozilla.org - Border radius - code by me */
hr {
    height: 10px;
    background-color: #464545cc;
    border-radius: 5px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 10px;
}

/* My code */
.home-info,
.about-info,
.form-info,
.services-info {
    margin: 0 auto;
    width: 50%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
}

.home-content {
    width: 100%;
    height: 100%;
    align-items: center;
}

em {
    color: #82c70ce5;
    font-size: 20px;
    font-weight: bold;
}

h2 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28px;
    color: #464545cc;
    text-align: center;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align:justify;
}

/* CSS from blog.hubspot.com */
#myCarousel {
    width: 500px;
    height: 500px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    display: flex;
    width: 90%;
    height: 90%;
    padding: 0px;
    background-color: #464545cc;
    border: 2px solid #464545cc;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

/* Cody by Crazy Coders Club - https://www.youtube.com/watch?v=KZ0_inTItlA */
#footer {
    position: relative;
    margin: 20px 0px 0px 0px;
    background: #464545cc;
    padding-top: 3px;
    height: 100px;
    max-width: 100%;
    color: #f1f1f1;
}

footer p {
    color: #82c70ce5;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

.row {
    height: 33px;
    padding: 0px;
}

.social {
    height: 33px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links li {
    display: flex;
    list-style-type: none;
   
} 

.social-links li a {
    color: #82c70ce5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 0px;
    text-decoration: none;
}

/* SERVICES PAGE css - my code */

.coming-soon {
    margin: 0 auto;
    height: 500px;
    width: 500px;
}

.coming-soon img {
    height: 100%;
    width: 100%;
}

/* CONTACT US css - my code using study material */

.form {
    margin: 0 auto;
}

.form-group {
    margin: 0px auto;
    width: 400px;
    height: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
}

.btn {
    border: 3px solid #82c70ce5;
    color: #464545cc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #82c70ce5;
}

.form-group .btn:hover {
    background-color: #464545cc;
    color: #82c70ce5;
}

/* Code from Going-To internet - https://www.youtube.com/watch?v=O-QUBZuZlXM */
.about-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;    
    flex-wrap: wrap;
    width: 755px;
    height: 370px;
    margin-bottom: 20px;
}

.about1 {
    height: 205px;
    width: 400px;
    padding: 5px;
    border: 3px solid #82c70ce5;
    border-radius: 5px;
}

.review {
    border: 3px solid #82c70ce5;
    height: 200px;
    width: 350px;
    border-radius: 5px;
    padding: 5px;
    margin: 0px;
    align-self: flex-end;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: start;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #464545cc;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #464545cc;
    font-size: 14px;
}

.review-content {
    color: #fcfc08;
}

.review-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 16px;
    color: #464545cc;
}

/* My code */
.fb-review {
    color: #82c70ce5
}

/* My code */
@media only screen and (max-width: 768px) {
    .header-container { 
        flex-direction: column;
        text-align: center;
        font-size: 20px;
    }

    .nav-container {
       margin: 0 auto;
       padding: 0px;
    }

    .navbar a {
        font-size: 12px;
        padding: 4px;
    }

    .navbar ul li {
        margin-left: 0;
        
    }

    .home-info,
    .about-info,
    .form-info,
    .services-info {
        width: 90%;
        margin-bottom: 10px;
    }
  
    #myCarousel {
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }

    em {
        font-size: 16px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .about-container {
        display: flex;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 300px;
        height: 450px;
    }

    .about1 {
        height: 200px;
        width: 400px;
        padding: 5px;
        border: 3px solid #82c70ce5;
        border-radius: 5px;
    }

    .review {
        border: 3px solid #82c70ce5;
        height: 200px;
        width: 350px;
        border-radius: 5px;
        padding: 5px;
        margin: 15px;
    }

    .client-comment p {
        font-size: 12px;
    }

    .coming-soon {
        margin: 0 auto;
        height: 300px;
        width: 300px;
    }

    .form-group {
        margin: 0px auto;
        width: 300px;
        height: 300px;
        font-size: 16px;
    }
}